<div id="block-headercontact">   
   <address>
		<ul>
			<li> <span class="title">{{ 'Contact our customer service'|trans }}</span> <a href="tel:0021692227397">+216 92 227 397</a> </li>
			<li> <span class="title">{{ 'For all information'|trans }}</span> <a href="mailto:info@eglantinenature.com">info@eglantinenature.com</a> </li>
		</ul>
    </address>
	<a href="/{{ lang }}/cart" class="btn-style-1">{{ 'My Cart'|trans }}<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
</div>